@charset "US-ASCII";
@font-face {
font-family:'FontAwesome';
font-style:normal;
font-weight:400;
src: url(../fonts/fontawesome-webfont.svg) format('svg');
src: url(../fonts/fontawesome-webfont.ttf) format('ttf');
src: url(../fonts/fontawesome-webfont.eot) format('eot');
src: url(../fonts/fontawesome-webfont.woff2) format('woff2');
src: url(../fonts/fontawesome-webfont.woff) format('woff');
}
col.col-1 ,col.col-sm-1 ,col.col-md-1 ,col.col-lg-1  {width:8.3%;max-width:8.3%;}
col.col-2 ,col.col-sm-2 ,col.col-md-2 ,col.col-lg-2  {width:16.7%;max-width:16.7%;}
col.col-3 ,col.col-sm-3 ,col.col-md-3 ,col.col-lg-3  {width:25%;max-width:25%;}
col.col-4 ,col.col-sm-4 ,col.col-md-4 ,col.col-lg-4  {width:33.3%;max-width:33.3%;}
col.col-5 ,col.col-sm-5 ,col.col-md-5 ,col.col-lg-5  {width:41.7%;max-width:41.7%;}
col.col-6 ,col.col-sm-6 ,col.col-md-6 ,col.col-lg-6  {width:50%;max-width:50%;}
col.col-7 ,col.col-sm-7 ,col.col-md-7 ,col.col-lg-7  {width:58.3%;max-width:58.3%;}
col.col-8 ,col.col-sm-8 ,col.col-md-8 ,col.col-lg-8  {width:66.7%;max-width:66.7%;}
col.col-9 ,col.col-sm-9 ,col.col-md-9 ,col.col-lg-9  {width:75%;max-width:75%;}
col.col-10,col.col-sm-10,col.col-md-10,col.col-lg-10 {width:83.3%;max-width:83.3%;}
col.col-11,col.col-sm-11,col.col-md-11,col.col-lg-11 {width:91.7%;max-width:91.7%;}
col.col-12,col.col-sm-12,col.col-md-12,col.col-lg-12 {width:100%;}
.main-header .logo .logo-lg,
.main-header .logo .logo-mini {
height:50px;
background:url(../img/cloud-white-50x50.png) no-repeat 50% 50%;
}
.main-header .logo .logo-lg b,
.main-header .logo .logo-mini b {
 display:none;
}
th.strstatus,
td.strstatus,
col.strstatus {
text-align:center;
width:90px;
}
col.strstatus.long {
text-align:center;
width:120px;
}
col.strstatus.long.al {
text-align:right;
padding-right:2em;
}
col.actions {
text-align:center;
}
col.actions-1 {
max-width:44px;
width:40px;
}
col.actions-2 {
max-width:68px;
width:64px;
}
col.actions-3 {
max-width:98px;
width:98px;
}
col.actions-4 {
max-width:134px;
width:130px;
}
col.actions .btn,
col.actions .button {
display:inline-block;
}
label.form-check-label {
font-weight:normal;
margin-left:8px;
}
:focus {outline:0;}
#password,#username {
ime-mode:disabled;
}
.align-right {
text-align:right;
}
.align-left {
text-align:left;
}
.align-center {
text-align:center;
}
.help-block {
font-size:85%;
color:#888;
}
.dropdown-menu {
box-shadow:0 4px 4px rgba(0,0,0,0.2);
}
.text-xs {
font-size:10px;
}
.text-white {
color:#fff !important;
}
a.silent {
color:#333;
text-decoration:none;
}
a.silent:after {
display:inline-block;
padding:0 4px;
color:rgba(51,122,183,.33);
font-family:"FontAwesome";
content:"\f0a9";
}
a.silent:hover,
a.silent:active {
color:rgba(51,122,183,1);
}
a.silent:hover:after,
a.silent:active:after {
color:rgba(51,122,183,1);
}
a.extlink {
color:#333;
text-decoration:none;
}
a.extlink:hover,
a.extlink:active {
color:#337ab7;
text-decoration:underline;
}
a.extlink:after {
display:inline-block;
padding:0 4px;
color:#337ab7;
font-family:"FontAwesome";
content:"\f08e";
}
.raw-seperator {
margin:20px 0;
}
.modified-at {
font-size:80%;
display:inline-block;
}
.monospaced {
font-family:Consolas,Inconsolata,"Andale Mono","DejaVu Sans Mono",Menlo,Monaco,IPAGothic,Courier,"Courier New",monospace;
}
.smallcap {
font-size:x-small;
line-height:1em;
}
.dropdown-menu>li>a:hover {
background-color:#337ab7;
color:#fff;
}
.btn-xs[data-aboxid] i.fa {
min-width:12px;
}
.btn-white {
background-color:#fff;
border-color:#d2d6de;
color:#555;
}
.btn-white:focus,
.btn-white.focus {
border-color:#3c8dbc;
color:#555;
}
.btn-white:hover {
color:#555;
border-color:#d2d6de;
transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
box-shadow:inset 0 2px 5px rgba(0,0,0,.075);
color:#555;
background-color:#fcfcfc;
border-color:#3c8dbc;
}
.btn-white:active:hover,
.btn-white.active:hover,
.open > .dropdown-toggle.btn-white:hover,
.btn-white:active:focus,
.btn-white.active:focus,
.open > .dropdown-toggle.btn-white:focus,
.btn-white:active.focus,
.btn-white.active.focus,
.open > .dropdown-toggle.btn-white.focus {
color:#555;
background-color:#fcfcfc;
border-color:#3c8dbc;
}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
background-image:none;
}
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled.focus,
.btn-white[disabled].focus,
fieldset[disabled] .btn-white.focus {
background-color:#fff;
border-color:#ccc;
}
.btn-white .badge {
color:#fff;
background-color:#333;
}
.btn-pager {
background-color:#fafafa;
border-color:#ddd;
color:#666;
}
.btn-pager:focus,
.btn-pager.focus {
background-color:#eee;
border-color:#ddd;
color:#666;
}
.btn-pager:hover {
color:#666;
background-color:#eee;
border-color:#ddd;
transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-pager:active,
.btn-pager.active,
.open > .dropdown-toggle.btn-pager {
box-shadow:inset 0 2px 5px rgba(0,0,0,.075);
color:#666;
background-color:#eee;
border-color:#ddd;
}
.btn-pager:active:hover,
.btn-pager.active:hover,
.open > .dropdown-toggle.btn-pager:hover,
.btn-pager:active:focus,
.btn-pager.active:focus,
.open > .dropdown-toggle.btn-pager:focus,
.btn-pager:active.focus,
.btn-pager.active.focus,
.open > .dropdown-toggle.btn-pager.focus {
color:#555;
background-color:#fcfcfc;
border-color:#3c8dbc;
}
.btn-pager:active,
.btn-pager.active,
.open > .dropdown-toggle.btn-pager {
background-image:none;
}
.paginator-wrapper .btn-pager,
.paginator-wrapper .btn-pager .dropdown-menu,
.paginator-wrapper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
width:60px;
}
.paginator-wrapper .btn-pager.page-filter {
width:auto;
}
.paginator-wrapper .btn-pager.page-filter span {
padding-left:8px;
}
.paginator-wrapper span.displabel {
position:relative;
font-size:80%;
display:block;
margin:8px 0 0 8px;
z-index:0;
}
.paginator-wrapper .page-filter {
min-height:30px;
position:relative;
font-size:80%;
margin-right:4px;
display:block;
}
.paginator-wrapper .page-filter.filtered {
color:#066 !important;
}
.paginator-wrapper.hidden-filter .page-filter,
.paginator-wrapper.onbottom .page-filter {
display:none;
}
body.skin-blue-light .paginator-wrapper .page-filter,
body.skin-red-light .paginator-wrapper .page-filter {
display:none;
}
body.http-error .wrapper {
margin:0;
}
body.http-error .content-wrapper,
body.http-error .main-header,
body.http-error .main-footer {
margin:0 auto;
}
body.http-error .content-wrapper {
margin:-20px 0 -10px;
}
body.http-error .main-header {
background-color:#367fa9;
width:100%;
}
body.http-error .logo {
float:none;
}
.error-msg {
margin:20px 0 0;
padding:0;
}
.error-msg section {
padding:10px 20px 0;
text-align:left;
}
.error-msg section h1 {
margin:0;
}
.icheckbox_minimal-blue.disabled,
.icheckbox_minimal-red.disabled {
cursor:not-allowed;
}
.pagination {
margin:0;
}
.pagination li span.display {
color:#666;
text-align:center;
border:1px solid #ddd;
background:#fafafa;
min-width:50px;
}
.pagination li.disabled span {
background:#fafafa;
}
.pagination li.disabled span:hover,
.pagination li.disabled span:active {
background:#fafafa;
}
.pagination li.disabled span i {
opacity:.4;
}
.paginator-wrapper {
position:relative;
margin:10px 0 0;
}
.paginator-wrapper.ontop {
margin:-10px 0 5px;
}
.paginator-wrapper.onbottom {
margin:10px 0 -20px;
}
.logmonitor {
padding:8px 0 8px 8px;
overflow:auto;
}
.logmonitor ul {
margin:0 0 -2px;
padding:4px 0 0 4px;
max-height:90px;
overflow:auto;
list-style:none;
}
.logmonitor ul li {
padding:0 0 4px;
margin:0;
line-height:1em;
vertical-align:top;
font-family:Consolas,Inconsolata,"Andale Mono","DejaVu Sans Mono",Menlo,Monaco,IPAGothic,Courier,"Courier New",monospace;
}
.logmonitor ul li:last-child {
padding-bottom:0;
}
.logmonitor ul li span {
padding-right:.5em;
}
.logmonitor ul li span.pre {
white-space:pre;
}
.form-group.required .control-label:before {
font-size:110%;
content:'*';
color:#fe2200;
line-height:0;
padding-right:2px;
}
.bootstrap-select.btn-group .dropdown-menu li.selected {
background-color:#337ab7;
color:#fff;
}
.bootstrap-select.btn-group .dropdown-menu li a:focus,
.bootstrap-select.btn-group .dropdown-menu li a:hover {
background-color:#e1e3e9;
color:#337ab7;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a {
color:#fff;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a:focus,
.bootstrap-select.btn-group .dropdown-menu li.selected a:hover {
background-color:#337ab7;
color:#fff;
}
.table-condenced > thead > tr > th,
.table-condenced > thead > tr > td,
.table-condenced > tbody > tr > th,
.table-condenced > tbody > tr > td {
padding:4px;
overflow:hidden;
white-space:nowrap;
}
.table-condenced.surveils-table > thead > tr > th,
.table-condenced.surveils-table > thead > tr > td,
.table-condenced.surveils-table > tbody > tr > th,
.table-condenced.surveils-table > tbody > tr > td {
padding:8px;
white-space:pre-wrap;
}
.table-bordered thead > tr > th,
.table-bordered tbody > tr > th,
.table-bordered tbody > tr > td {
vertical-align:middle;
}
.table-bordered,
.table-bordered thead > tr > th,
.table-bordered thead > tr > td,
.table-bordered tbody > tr > th,
.table-bordered tbody > tr > td {
border-color:#e3e3e3;
}
.table-bordered thead > tr > th,
.table-bordered tbody > tr > th {
background-color:#fcfcfc;
}
.table-condenced thead > tr > th,
.table-condenced thead > tr > td {
padding:8px;
}
.table-condenced tbody > tr > th,
.table-condenced tbody > tr > td {
padding-left:8px;
padding-right:8px;
}
.members-list,
.cameras-list,
.campaigns-list,
.recorders-list,
.aboxes-list,
.wonder-list,
.aboxlogs-list,
.membergroups-list,
.users-list,
.licenses-list,
.vendors-list,
.notifications-list,
.surveils-table,
.devices-list,
.histories-list,
.monitors-list,
.missing-list,
.related-cams-list {
width:100%;
table-layout:fixed;
}
.members-list thead th,
.cameras-list thead th,
.campaigns-list thead th,
.recorders-list thead th,
.aboxes-list thead th,
.wonder-list thead th,
.aboxlogs-list thead th,
.membergroups-list thead th,
.licenses-list thead th,
.vendors-list thead th,
.surveils-table thead th,
.users-list thead th,
.notifications-list thead th,
.devices-list thead th,
.histories-list thead th,
.monitors-list thead th,
.missing-list thead th,
.related-cams-list thead th {
text-align:center;
vertical-align:middle;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.members-list tbody td,
.cameras-list tbody td,
.campaigns-list tbody td,
.recorders-list tbody td,
.aboxes-list tbody td,
.wonder-list tbody td,
.aboxlogs-list tbody td,
.membergroups-list tbody td,
.licenses-list thead td,
.vendors-list thead td,
.surveils-table tbody td,
.users-list tbody td,
.notifications-list tbody td,
.devices-list tbody td,
.histories-list tbody td,
.monitors-list tbody td,
.missing-list tbody td,
.related-cams-list thead td {
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.members-list tbody tr td:last-child,
.cameras-list tbody tr td:last-child,
.campaigns-list tbody tr td:last-child,
.recorders-list tbody tr td:last-child,
.aboxes-list tbody tr td:last-child,
.wonder-list tbody tr td:last-child,
.aboxlogs-list tbody tr td:last-child,
.membergroups-list tbody tr td:last-child,
.users-list tbody tr td:last-child,
.licenses-list tbody tr td:last-child,
.vendors-list tbody tr td:last-child,
.notifications-list tbody tr td:last-child,
.devices-list tbody tr td:last-child,
.monitors-list tbody tr td:last-child,
.missing-list tbody tr td:last-child,
.related-cams-list tbody tr td:last-child {
text-align:center;
}
.members-list .btn-xs,
.cameras-list .btn-xs,
.campaigns-list .btn-xs,
.recorders-list .btn-xs,
.aboxes-list .btn-xs,
.wonder-list .btn-xs,
.aboxlogs-list .btn-xs,
.membergroups-list .btn-xs,
.users-list .btn-xs,
.licenses-list .btn-xs,
.vendors-list .btn-xs,
.surveils-table .btn-xs,
.monitors-list .btn-xs,
.missing-list .btn-xs,
.related-cams-list .btn-xs {
min-height:23px;
}
.members-list .btn-xs i.fa,
.cameras-list .btn-xs i.fa,
.campaigns-list .btn-xs i.fa,
.recorders-list .btn-xs i.fa,
.aboxes-list .btn-xs i.fa,
.wonder-list .btn-xs i.fa,
.aboxlogs-list .btn-xs i.fa,
.membergroups-list .btn-xs i.fa,
.users-list .btn-xs i.fa,
.licenses-list .btn-xs i.fa,
.vendors-list .btn-xs i.fa,
.surveils-table .btn-xs i.fa,
.monitors-list .btn-xs i.fa,
.missing-list .btn-xs i.fa,
.related-cams-list .btn-xs i.fa {
width:12px;
height:12px;
text-align:center;
}
.users-list tr.disabled,
.missing-list tr.disabled {
background-color:#f0f0f0;
}
.btn-xs[data-aboxid] i.fa {
min-width:12px;
}
.surveils-table caption > button,
.vendors-list caption > a,
.licenses-list caption > a {
margin-left:10px;
}
.vendors-list,
.licenses-list {
margin-top:10px;
}
.table.notifications-list > tbody > tr > td,
.table.notifications-list > tbody > tr > th {
padding:4px;
}
.notifications-list tbody td:not(:first-child) {
font-size:90%;
}
.form-table .control-group label {
font-weight:normal;
margin:0 18px 0 0;
}
.form-table .iradio_minimal-blue,
.form-table .icheckbox_minimal-blue  {
margin-top:-4px;
margin-right:6px;
}
.form-group .iradio_minimal-blue,
.form-group .icheckbox_minimal-blue  {
margin-top:-4px;
margin-right:4px;
}
.form-group .radio-inline,
.form-group .checkbox-inline {
padding-left:0;
min-width:80px;
}
.form-group .radio-inline label,
.form-group .checkbox-inline label {
font-weight:normal;
}
.form-group .checkbox-inline + .constraint {
padding-left:26px;
padding-bottom:6px;
}
.form-group .radio label {
padding-left:0;
}
label[for=promotion].checked {
color:#090;
}
.constraint label {
color:#ccc;
}
.constraint.checked label {
color:#333;
}
dl.prof {
overflow:hidden;
margin:0;
padding:0;
}
dl.prof dt,
dl.prof dd {
text-align:left;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
dl.prof dt {
font-weight:normal;
font-size:12px;
color:#999;
border-left:8px solid #f0f0f0;
border-bottom:1px solid #f0f0f0;
padding:2px 0 2px 4px;
margin-bottom:8px;
}
dl.prof dd {
padding-bottom:10px;
}
dl.prof dd:last-child {
padding-bottom:0;
}
.box {
box-shadow:0 1px 2px rgba(0,0,0,0.2);
}
.box-header {
position:relative;
}
.box-header .btn.xcenter {
position:relative;
float:right;
margin:-6px 10px -6px 4px;
}
.box-header .btn.xoutput {
position:relative;
float:right;
margin:-6px 0 -6px 4px;
}
.box-header .btn.xcenter span,
.box-header .btn.xoutput span {
margin-left:4px;
}
.box-body {
padding:20px;
}
.box-footer button {
max-width:120px;
margin:0 auto;
}
.fqdn {
width:41.7%;
}
.form-table.cameras-list,
.form-table.campaigns-list {
overflow:hidden;
}
.row.row-gutter-0 {
margin-left:0;
margin-right:0;
}
.row.row-gutter-10 {
margin-left:-5px;
margin-right:-5px;
}
.row.row-gutter-20 {
margin-left:-10px;
margin-right:-10px;
}
.row.row-gutter-30 {
margin-left:-15px;
margin-right:-15px;
}
.row.row-gutter-40 {
margin-left:-20px;
margin-right:-20px;
}
.row.row-gutter-0 > div {
padding-left:0;
padding-right:0;
}
.row.row-gutter-10 > div {
padding-left:5px;
padding-right:5px;
}
.row.row-gutter-20 > div {
padding-left:10px;
padding-right:10px;
}
.row.row-gutter-30 > div {
padding-left:15px;
padding-right:15px;
}
.row.row-gutter-40 > div {
padding-left:20px;
padding-right:20px;
}
.left-gutter-surpress {
padding-left:0;
}
.right-gutter-surpress {
padding-right:0;
}
.form-control.col-1  {width:8.3%;}
.form-control.col-2  {width:16.7%;}
.form-control.col-3  {width:25%;}
.form-control.col-4  {width:33.3%;}
.form-control.col-5  {width:41.7%;}
.form-control.col-6  {width:50%;}
.form-control.col-7  {width:58.3%;}
.form-control.col-8  {width:66.7%;}
.form-control.col-9  {width:75%;}
.form-control.col-10 {width:83.3%;}
.form-control.col-11 {width:91.7%;}
.form-control.col-12 {width:100%;}
.has-feedback .form-control.form-control-left {
padding-left:32px;
padding-right:6px;
}
.form-control-feedback.feedback-left {
left:0;
right:auto;
}
.form-control.control-dummy {
background:#fff none;
border:none;
}
.form-control.control-dummy.control-dummy-center {
text-align:center;
}
.row.horizontal {
margin-left:0;
margin-right:0;
}
.row.horizontal .form-control {
float:left;
}
.modal .modal-content {
border-radius:4px;
}
#ref-camera .modal-footer {
text-align:center;
}
#ref-camera .modal-footer button {
display:inline-block;
min-width:80px;
}
.navbar-custom-menu li.pad {
width:45px;
min-height:50px;
}
.navbar-nav > .user-menu {
max-width:240px;
}
.navbar-nav > .user-menu > .dropdown-toggle {
text-align:left;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.navbar-nav > .user-menu > .dropdown-menu {
width:100%;
box-shadow:0 1px 2px rgba(0,0,0,0.2);
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
height:auto;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer a:hover {
background-color:#e1e3e9;
color:#777;
}
.plotter {
margin:0 -20px;
}
.plotter.plotter-unifiled {
margin:0 -10px;
}
.plotter img {
width:100%;
display:block;
margin:0 auto;
-ms-interpolation-mode:bicubic;
image-rendering:auto;
}
.plotter .plotted-image {
border:1px solid #ddd;
border-radius: 6px;
}
.plotter div {
margin-top:15px;
}
.plotter .by-head,
.plotter .by-head div {
margin-top:0;
}
.plotter .summaries {
margin:0;
}
.plotter .summaries .sum-total {
padding:10px;
position:relative;
min-height:100px;
text-align:right;
vertical-align:bottom;
border:#ccc 1px solid;
border-radius:6px 0 0 6px;
border-right-width:0;
background:#f0f0f0;
}
.plotter .summaries .sum-m,
.plotter .summaries .sum-f,
.plotter .summaries .sum-today,
.plotter .summaries .sum-lastday {
position:relative;
min-height:50px;
border:#ddd 1px solid;
}
.plotter .summaries .sum-m {
background:#e7efff;
border-radius:0;
border-width: 1px 0 0 1px;
}
.plotter .summaries .sum-f {
background:#ffe6e8;
border-radius:0;
border-width: 1px 0 1px 1px;
}
.plotter .summaries .sum-today {
border-radius: 0 6px 0 0;
border-width: 1px 1px 0 1px;
}
.plotter .summaries .sum-lastday {
border-radius: 0 0 6px 0;
border-width: 1px;
}
.plotter .summaries .sum-total span.label,
.plotter .summaries .sum-m span.label,
.plotter .summaries .sum-f span.label,
.plotter .summaries .sum-today span.label,
.plotter .summaries .sum-lastday span.label {
color:#666;
font-size:100%;
font-weight:normal;
position:absolute;
top:10px;
left:10px;
}
.plotter .summaries .sum-total span.val,
.plotter .summaries .sum-m span.val,
.plotter .summaries .sum-f span.val,
.plotter .summaries .sum-today span.val,
.plotter .summaries .sum-lastday span.val {
color:#666;
font-size:200%;
font-weight:bold;
position:absolute;
bottom:0;
right:10px;
}
.plotter .nav-tabs > li, .nav-pills > li {
float:none;
display:inline-block;
*display:inline;
zoom:1;
}
.plotter .nav-tabs, .nav-pills {
text-align:center;
}
.plotter-form {
margin-bottom:15px;
}
.plotter-form .form-group {
margin-left:8px;
}
.plotter-form .bootstrap-select.form-control:not([class*="col-"]) {
width:auto;
min-width:100px;
max-width:150px;
}
.plotter-form .form-control.date-chooser {
width:140px;
}
.plotter-update,
.plotter-download {
width:80px;
margin-right:4px;
}
#mainbox {
padding:0 10px;
}
#mainbox form[role=form]{
padding:10px 20px 0;
}
#dialog-control .action-area {
margin:20px 0;
padding-top:10px;
text-align:center;
}
section.content-header {
padding:15px 25px 0;
}
section.content-header .breadcrumb {
right:25px;
}
section.content {
padding:15px 25px;
}
section.content .action-area {
border-top:1px solid rgb(244,244,244);
margin:-5px 0 0;
padding:10px;
text-align:center;
}
section.content .box-footer > .action-area {
border:none;
margin:-5px 0 0;
padding:0 10px;
text-align:center;
}
section.content .action-area button,
section.content .action-area a.btn,
section.content .action-area input[type=button],
section.content .action-area input[type=submit] {
display:inline-block;
min-width:100px;
margin-left:10px;
margin-top:5px;
}
section.content .action-area button:first-child,
section.content .action-area a.btn:first-child,
section.content .action-area input[type=button]:first-child,
section.content .action-area input[type=submit]:first-child {
margin-left:0;
}
section.content .action-area .btn-group {
display:inline-block;
min-width:100px;
margin-left:10px;
}
section.content .action-area .btn-group:first-child {
margin-left:0;
}
section.content .form-group {
margin-bottom:5px;
height:auto;
}
#surveiltable {
margin:20px 0 10px;
}
#table-member > tbody > tr {
cursor:pointer;
}
.ui-dialog,
#dialog-control {
z-index:2000;
}
.hidden-at-wide {
display:none;
}
.group-header-pad {
margin-bottom:8px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
padding-top:4px;
margin-bottom:-4px;
}
.form-group span.form-control {
border-color:#F6F6F6;
color:#333;
padding-right:6px;
}
.form-group span.form-control-np {
padding-right:6px;
height:auto;
}
.form-group span.form-control-np .btn-delete-image {
display:inline-block;
vertical-align:middle;
}
.form-control.marginal {
border-right:none;
}
.input-group-btn.marginal {
border:1px solid #d2d6de;
border-radius:4px;
border-left:none;
border-collapse:collapse;
padding:0;
}
.input-group-btn.marginal > * {
visibility:hidden;
border-width:0;
}
.input-group.input-group-fake .input-group-btn {
background:#fff;
border-collapse:separate;
}
.input-group.input-group-fake:first-child {
border-right:none;
}
.input-group.input-group-fake:last-child {
border-left:none;
}
.input-group.input-group-fake .input-group-btn .btn-default {
background:#fff;
border-color:#d2d6de;
}
.input-group.input-group-fake .input-group-btn .btn-default span.fa-cog {
opacity:.5;
}
.input-group.input-group-fake .input-group-btn .btn-default:hover {
background:#fafafa;
}
.input-group.input-group-fake .input-group-btn .btn-default:hover span.fa-cog,
.input-group.input-group-fake .input-group-btn.open .btn-default span.fa-cog {
opacity:.8;
}
.input-group.input-group-fake .input-group-btn.open .btn-default {
background:#f6f6f6;
}
.input-group.input-group-fake .input-group-btn .btn-fake,
.input-group.input-group-fake .input-group-btn .btn-fake:hover,
.input-group.input-group-fake .input-group-btn .btn-fake:active {
cursor:default;
background:#fff;
border-color:#d2d6de;
border-left-width:0;
box-shadow:none;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a {
border:1px solid #fff;
background:#fff;
padding:8px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
text-align:center;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a.movecam {
color:#39cccc !important;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a.movecam:hover {
color:#128D8A !important;
background:#DDFFFE;
border-color:#128D8A;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a.movemgr {
color:#dd4b39 !important;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a.movemgr:hover {
background:#FED9D9;
color:#CB001D !important;
border-color:#CB001D;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a.movesvr {
color:#3c8dbc !important;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a.movesvr:hover {
background:#cfecff;
color:#0f64ad !important;
border-color:#3c8dbc;
}
.tooltip-inner {
font-size:120%;
width:auto;
max-width:400px;
}
.sidebar-toggle,
.navbar-custom-menu {
min-width:50px;
text-align:center;
}
.stat-green {
color:#00B050;
}
.stat-suspend {
color:#FF6600;
}
.stat-paused {
color:#000099;
}
.stat-will-withdraw {
color:#7030A0;
}
.stat-error,
.stat-stopped,
.stat-withdrawn {
color:#cc0000;
}
.stat-warning {
color:#cc9900;
}
.stat-reboot {
color:#ff9900;
}
.stat-rebooting {
color:#ff6600;
}
td.stat-none,
th.stat-none,
td.stat-green,
th.stat-green,
td.stat-suspend,
th.stat-suspend,
th.stat-paused,
td.stat-paused,
td.stat-stopped,
th.stat-stopped,
td.stat-will-withdraw,
th.stat-will-withdraw,
td.stat-withdrawn,
th.stat-withdrawn,
td.stat-warning,
th.stat-warning,
td.stat-reboot,
th.stat-reboot,
td.stat-rebooting,
th.stat-rebooting {
text-align:center;
}
.group-sandoxed-content {
background:#333;
padding-bottom:51px;
}
.group-sandoxed-content .content-header h1 {
color:#fff;
}
.memstat {
font-size:10px;
line-height:10px;
text-align:center;
vertical-align:middle;
}
.nosidebar .wapper {
background:#333;
}
.nosidebar .content-wrapper,
.nosidebar .main-footer {
margin-left:-1px !important;
background:#333;
}
#smc-loading {
display:table;
position:absolute;
top:65px;
left:50%;
margin-left:18px;
background:#000 url(../img/downloading.gif) no-repeat 9px 50%;
border:2px solid #ccc;
border-radius:4px;
padding:6px 12px;
min-height:36px;
min-width:36px;
z-index:1200;
opacity:.5;
}
#smc-loading span {
display:table-cell;
vertical-align:middle;
padding-left:18px;
color:#fff;
}
.skin-red .main-header,
.skin-red-light .main-header {
background-color:#dd4b39;
}
.skin-blue .main-header,
.skin-blue-light .main-header {
background-color:#3c8dbc;
}
.skin-green .main-header,
.skin-green-light .main-header {
background-color:#00a65a;
}
.skin-yellow .main-header,
.skin-yellow-light .main-header {
background-color:#f39c12;
}
.skin-purple .main-header,
.skin-purple-light .main-header {
background-color:#605ca8;
}
.skin-black .main-header,
.skin-black-light .main-header {
background-color:#222;
}
.skin-black .main-header .navbar-toggle,
.skin-black-light .main-header .navbar-toggle {
color:#ccc;
}
.skin-black .main-header .navbar-brand,
.skin-black-light .main-header .navbar-brand {
color:#ccc;
border-right:1px solid #666;
}
.skin-black .main-header>.navbar,
.skin-black-light .main-header>.navbar {
background-color:#222;
}
.skin-black .main-header>.navbar .nav>li>a,
.skin-black-light .main-header>.navbar .nav>li>a {
color:#ccc;
}
.skin-black .main-header>.navbar .nav>li>a:hover,
.skin-black .main-header>.navbar .nav>li>a:active,
.skin-black .main-header>.navbar .nav>li>a:focus,
.skin-black .main-header>.navbar .nav .open>a,
.skin-black .main-header>.navbar .nav .open>a:hover,
.skin-black .main-header>.navbar .nav .open>a:focus,
.skin-black .main-header>.navbar .nav>.active>a,
.skin-black-light .main-header>.navbar .nav>li>a:hover,
.skin-black-light .main-header>.navbar .nav>li>a:active,
.skin-black-light .main-header>.navbar .nav>li>a:focus,
.skin-black-light .main-header>.navbar .nav .open>a,
.skin-black-light .main-header>.navbar .nav .open>a:hover,
.skin-black-light .main-header>.navbar .nav .open>a:focus,
.skin-black-light .main-header>.navbar .nav>.active>a {
background:#101010;
color:#fcfcfc;
}
.skin-black .main-header>.navbar .sidebar-toggle,
.skin-black-light .main-header>.navbar .sidebar-toggle {
color:#ccc;
}
.skin-black .main-header>.navbar .sidebar-toggle:hover,
.skin-black-light .main-header>.navbar .sidebar-toggle:hover {
background:#101010;
color:#fcfcfc;
}
.skin-black .main-header>.navbar>.sidebar-toggle,
.skin-black-light .main-header>.navbar>.sidebar-toggle {
color:#ccc;
border-right:1px solid #333;
}
.skin-black .main-header>.navbar .navbar-nav>li>a,
.skin-black-light .main-header>.navbar .navbar-nav>li>a {
border-right:1px solid #333;
}
.skin-black .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a,
.skin-black .main-header>.navbar .navbar-right>li>a,
.skin-black-light .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a,
.skin-black-light .main-header>.navbar .navbar-right>li>a {
border-left:1px solid #333;
border-right-width:0;
}
.skin-black .main-header>.logo,
.skin-black-light .main-header>.logo {
background-color:#111;
color:#ccc;
border-bottom:0 solid transparent;
border-right:1px solid #333;
}
.skin-black .main-header>.logo:hover,
.skin-black-light .main-header>.logo:hover {
background-color:#000;
}
.skin-black .content-wrapper,
.skin-black .right-side ,
.skin-black-light .content-wrapper,
.skin-black-light .right-side  {
background-color:#ececec;
}
.skin-black .main-header li.user-header,
.skin-black-light .main-header li.user-header {
background-color:#222;
}
.skin-black .content-header,
.skin-black-light .content-header {
background:transparent;
box-shadow:none;
}
.skin-black .sidebar-form input[type="text"],
.skin-black-light .sidebar-form input[type="text"] {
color:#666;
border-radius:2px 0 0 2px;
}
.skin-black .sidebar-form input[type="text"]:focus,
.skin-black .sidebar-form input[type="text"]:focus+.input-group-btn .btn,
.skin-black-light .sidebar-form input[type="text"]:focus,
.skin-black-light .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
background-color:#fff;
color:#666;
}
.skin-black .sidebar-form input[type="text"]:focus+.input-group-btn .btn,
.skin-black-light .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
border-left-color:#fff;
}
.skin-black .sidebar-form .btn,
.skin-black-light .sidebar-form .btn {
color:#999;
border-radius:0 2px 2px 0;
}
.skin-black .pace .pace-progress,
.skin-black-light .pace .pace-progress {
background:#222;
}
.skin-black .pace .pace-activity,
.skin-black-light .pace .pace-activity {
border-top-color:#222;
border-left-color:#222;
}
.skin-black .main-footer,
.skin-black-light .main-footer {
border-top:1px solid #dedede;
}
.skin-black .box,
.skin-black-light .box {
border-color:#dedede;
}
.skin-black .wrapper,
.skin-black .main-sidebar,
.skin-black .left-side {
background-color:#4c4c4c;
}
.skin-black .user-panel>.info,
.skin-black .user-panel>.info>a {
color:#fff;
}
.skin-black .sidebar-menu>li.header {
color:#6f6f6f;
background:#464646;
}
.skin-black .sidebar-menu>li>a {
border-left:3px solid transparent;
}
.skin-black .sidebar-menu>li:hover>a,
.skin-black .sidebar-menu>li.active>a {
color:#fff;
background:#333333;
border-left-color:#fff;
}
.skin-black .sidebar-menu>li>.treeview-menu {
margin:0 1px;
background:#2c3b41;
}
.skin-black .sidebar a {
color:#b8c7ce;
}
.skin-black .sidebar a:hover {
text-decoration:none;
}
.skin-black .treeview-menu>li>a {
color:#8aa4af;
}
.skin-black .treeview-menu>li.active>a,
.skin-black .treeview-menu>li>a:hover {
color:#fff;
}
.skin-black .sidebar-form {
border-radius:3px;
border:1px solid #505050;
margin:10px 10px;
}
.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn {
box-shadow:none;
background-color:#505050;
border:1px solid transparent;
height:35px;
-webkit-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
}
.skin-black-light .main-sidebar,
.skin-black-light .left-side {
background-color:#fcfcfc;
}
.skin-black-light .content-wrapper,
.skin-black-light .main-footer {
border-left:1px solid #dedede;
}
.skin-black-light .user-panel>.info,
.skin-black-light .user-panel>.info>a {
color:#444;
}
.skin-black-light .sidebar-menu>li {
-webkit-transition:border-left-color .3s ease;
-o-transition:border-left-color .3s ease;
transition:border-left-color .3s ease;
}
.skin-black-light .sidebar-menu>li.header {
color:#848484;
background:#e9e9e9;
}
.skin-black-light .sidebar-menu>li>a {
border-left:3px solid transparent;
font-weight:600;
}
.skin-black-light .sidebar-menu>li:hover>a,
.skin-black-light .sidebar-menu>li.active>a {
color:#000;
background:#c9c9c9;
}
.skin-black-light .sidebar-menu>li.active {
border-left-color:#fff;
}
.skin-black-light .sidebar-menu>li.active>a {
font-weight:600;
}
.skin-black-light .sidebar-menu>li>.treeview-menu {
background:#f4f4f4;
}
.skin-black-light .sidebar a {
color:#444;
}
.skin-black-light .sidebar a:hover {
text-decoration:none;
}
.skin-black-light .treeview-menu>li>a {
color:#777;
}
.skin-black-light .treeview-menu>li.active>a,
.skin-black-light .treeview-menu>li>a:hover {
color:#000;
}
.skin-black-light .treeview-menu>li.active>a {
font-weight:600;
}
.skin-black-light .sidebar-form {
border-radius:3px;
border:1px solid #dedede;
margin:10px 10px;
}
.skin-black-light .sidebar-form input[type="text"],
.skin-black-light .sidebar-form .btn {
box-shadow:none;
background-color:#fff;
border:1px solid transparent;
height:35px;
-webkit-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
}
.meta-href.enable:hover {
color:#00f;
text-decoration:underline;
cursor:pointer;
}
.filter-dialog {
font-size:90%;
}
.motion-enable,
.motion-disable {
position:relative;
padding-left:14px;
}
.motion-enable:before {
color:#000;
font-family:"FontAwesome";
position:absolute;
font-size:14px;
width:14px;
height:14px;
display:block;
line-height:14px;
top:1px;
vertical-align:top;
content:"";
}
.motion-enable.enabled:before {
color:#ff7700;
content:"\f0e7";
}
.logger-area {
max-height:300px;
overflow:auto;
}
.nw-figure {
max-width:200px;
max-height:150px;
}
.nw-figure-img,
.nw-figure-file {
margin-bottom:10px;
}
.nw-deveices,
.nw-deveices .tab-content {
margin-top:10px;
}
.rec-option-collapsible.collapsed {
display:none;
}
.rec-option-collapsible .bootstrap-select.disabled {
background-color:#ccc;
}
.rec-option-collapsible .fieldset {
border:1px solid #d2d6de;
border-radius:4px;
padding:0 10px;
}
.rec-option-collapsible .fieldset .grue {
padding:7px 0 0;
margin:0 -15px;
float:left;
text-align:center;
vertical-align:middle;
}
.rec-option-collapsible .fieldset .control-label {
text-align:left;
vertical-align:middle;
}
.rec-option-collapsible .fieldset > .form-group {
margin:0 -10px;
padding:10px 0;
border-bottom:1px #d2d6de solid;
}
.rec-option-collapsible .fieldset > .form-group:last-child {
border-bottom:none;
padding-bottom:5px;
}
@media (max-width:422px) {
}
@media (max-width:480px) {
  .form-table label {
  margin-bottom:4px;
  }
  .form-table label:last-child {
  margin-bottom:0;
  }
  .table.members-list col:nth-child(1),
  .table.members-list th:nth-child(1),
  .table.members-list td:nth-child(1) {
  max-width:200px;
  }
  .table.membergroups-list col:nth-child(1),
  .table.membergroups-list col:nth-child(3),
  .table.membergroups-list th:nth-child(1),
  .table.membergroups-list td:nth-child(1),
  .table.membergroups-list th:nth-child(3),
  .table.membergroups-list td:nth-child(3) {
  display:none;
  }
}
@media (max-width:524px) {
  .table.aboxes-list col:nth-child(7),
  .table.aboxes-list th:nth-child(7),
  .table.aboxes-list td:nth-child(7) {
  display:none;
  }
  .table.wonder-list col:nth-child(7),
  .table.wonder-list th:nth-child(7),
  .table.wonder-list td:nth-child(7) {
  display:none;
  }
  .table.cameras-list col:nth-child(8),
  .table.cameras-list th:nth-child(8),
  .table.cameras-list td:nth-child(8) {
  display:none;
  }
  .table.recorders-list col:nth-child(8),
  .table.recorders-list th:nth-child(8),
  .table.recorders-list td:nth-child(8) {
  display:none;
  }
  .table.monitors-list col:nth-child(4),
  .table.monitors-list th:nth-child(4),
  .table.monitors-list td:nth-child(4) {
  display:none;
  }
}
@media (max-width:674px) {
  section.content .action-area,
  section.content .box-footer > .action-area {
  margin:0;
  }
  #dialog-control .action-area button,
  #dialog-control .action-area a.btn,
  section.content .action-area button,
  section.content .action-area a.btn,
  section.content .action-area input[type=button],
  section.content .action-area input[type=submit] {
  display:block;
  min-width:inherit;
  width:100%;
  margin-left:0;
  margin-top:2px;
  }
  section.content .action-area .btn-group {
  display:block;
  min-width:inherit;
  width:100%;
  margin-left:0;
  }
  #dialog-control .action-area button:first-child,
  #dialog-control .action-area a.btn:first-child,
  section.content .action-area button:first-child,
  section.content .action-area a.btn:first-child,
  section.content .action-area input[type=button]:first-child,
  section.content .action-area input[type=submit]:first-child,
  section.content .action-area .btn-group:first-child {
  margin-left:0;
  }
  section.content .action-area .btn-group .dropdown-menu {
  width:100%;
  }
  .table.members-list col:nth-child(4),
  .table.members-list th:nth-child(4),
  .table.members-list td:nth-child(4) {
  display:none;
  }
  .table.users-list col:nth-child(2),
  .table.users-list th:nth-child(2),
  .table.users-list td:nth-child(2) {
  display:none;
  }
  .table.aboxes-list col:nth-child(3),
  .table.aboxes-list th:nth-child(3),
  .table.aboxes-list td:nth-child(3) {
  display:none;
  }
  .table.wonder-list col:nth-child(3),
  .table.wonder-list th:nth-child(3),
  .table.wonder-list td:nth-child(3) {
  display:none;
  }
  .table.cameras-list col:nth-child(3),
  .table.cameras-list th:nth-child(3),
  .table.cameras-list td:nth-child(3) {
  display:none;
  }
  .table.recorders-list col:nth-child(3),
  .table.recorders-list th:nth-child(3),
  .table.recorders-list td:nth-child(3) {
  display:none;
  }
  .table.monitors-list col:nth-child(3),
  .table.monitors-list th:nth-child(3),
  .table.monitors-list td:nth-child(3) {
  display:none;
  }
  .table.related-cams-list col:nth-child(4),
  .table.related-cams-list th:nth-child(4),
  .table.related-cams-list td:nth-child(4) {
  display:none;
  }
  .form-control.fqdn,
  .form-control.col-1,
  .form-control.col-2,
  .form-control.col-3,
  .form-control.col-4,
  .form-control.col-5,
  .form-control.col-6,
  .form-control.col-7,
  .form-control.col-8,
  .form-control.col-9,
  .form-control.col-10,
  .form-control.col-11,
  .form-control.col-12 {
  width:100%;
  }
  .box-body {
  padding:20px 10px 5px;
  }
  .box-footer {
  padding:10px 0;
  }
  .paginator-wrapper .page-filter span {
    display:none;
  }
  .box-header .btn.xcenter {
  margin-right:0;
  }
  .box-header .btn.xcenter span,
  .box-header .btn.xoutput span {
  display:none;
  }
  .box-body .table.related-cams-list {
  margin-bottom:5px;
  }
}
@media (min-width:768px) {
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
  padding-top:0;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  min-width:200px;
  max-width:240px;
  }
  .skin-black-light.sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu {
  border-left:1px solid #dedede;
  }
}
@media (max-width:768px) {
  .main-sidebar, .left-side {
  padding-top:50px;
  }
  .skin-red .main-header .logo,
  .skin-red-light .main-header .logo {
  background-color:#dc4735;
  }
  .skin-red .main-header .logo:hover,
  .skin-red-light .main-header .logo:hover {
  background-color:#d73925;
  }
  .skin-blue .main-header .logo,
  .skin-blue-light .main-header .logo {
  background-color:#3c8dbc;
  }
  .skin-blue .main-header .logo:hover,
  .skin-blue-light .main-header .logo:hover {
  background-color:#367fa9;
  }
  .skin-green .main-header .logo,
  .skin-green-light .main-header .logo {
  background-color:#00a65a;
  }
  .skin-green .main-header .logo:hover,
  .skin-green-light .main-header .logo:hover {
  background-color:#008d4c;
  }
  .skin-yellow .main-header .logo,
  .skin-yellow-light .main-header .logo {
  background-color:#f39c12;
  }
  .skin-yellow .main-header .logo:hover,
  .skin-yellow-light .main-header .logo:hover {
  background-color:#e08e0b;
  }
  .skin-purple .main-header .logo,
  .skin-purple-light .main-header .logo {
  background-color:#605ca8;
  }
  .skin-purple .main-header .logo:hover,
  .skin-purple-light .main-header .logo:hover {
  background-color:#555299;
  }
  .skin-black .main-header>.logo,
  .skin-black-light .main-header>.logo {
  background-color:#222;
  }
  .skin-black .main-header>.logo:hover,
  .skin-black-light .main-header>.logo:hover {
  background-color:#1f1f1f;
  }
  .main-header .logo {
  position:absolute;
  top:0;
  left:50px;
  right:50px;
  width:auto;
  z-index:1001;
  -webkit-transition:none;
  -o-transition:none;
  transition:none;
  }
  .error-msg section {
  width:100%;
  }
  .table.cameras-list col:nth-child(4),
  .table.cameras-list th:nth-child(4),
  .table.cameras-list td:nth-child(4) {
  display:none;
  }
  .table.recorders-list col:nth-child(4),
  .table.recorders-list th:nth-child(4),
  .table.recorders-list td:nth-child(4) {
  display:none;
  }
  .table.monitors-list col:nth-child(2),
  .table.monitors-list th:nth-child(2),
  .table.monitors-list td:nth-child(2) {
  display:none;
  }
  .paginator-wrapper span.displabel {
    display:none;
  }
  .main-footer strong {
  display:block;
  text-align:center;
  }
  .plotter {
  margin:0 -15px;
  }
  .plotter.plotter-unifiled {
  margin:0 -15px;
  }
  .plotter img {
  width:100%;
  display:inline-block;
  margin:0 auto;
  -ms-interpolation-mode:bicubic;
  image-rendering:auto;
  }
  .plotter .summaries .sum-total {
  min-height:50px;
  border-radius: 6px 6px 0 0;
  border-width: 1px 1px 0 1px;
  }
  .plotter .summaries .sum-m {
  border-radius:0;
  border-width: 1px 0 0 1px;
  }
  .plotter .summaries .sum-f {
  background:#ffe6e8;
  border-radius:0 0 0 6px;
  border-width: 1px 0 1px 1px;
  }
  .plotter .summaries .sum-today {
  border-radius: 0;
  border-width: 1px 1px 0 1px;
  }
  .plotter .summaries .sum-lastday {
  border-radius: 0 0 6px 0;
  border-width: 1px;
  }
  .plotter .summaries .sum-total span.label,
  .plotter .summaries .sum-m span.label,
  .plotter .summaries .sum-f span.label,
  .plotter .summaries .sum-today span.label,
  .plotter .summaries .sum-lastday span.label {
  font-size:90%;
  }
  .plotter .summaries .sum-total span.val,
  .plotter .summaries .sum-m span.val,
  .plotter .summaries .sum-f span.val,
  .plotter .summaries .sum-today span.val,
  .plotter .summaries .sum-lastday span.val {
  font-size:120%;
  }
  .plotter-form {
  margin-bottom:15px;
  }
  .plotter-form .form-group {
  margin-left:0;
  }
  .plotter-form .bootstrap-select.form-control:not([class*="col-"]) {
  width:100%;
  min-width:inherit;
  max-width:inherit;
  }
  .plotter-form .form-control.date-chooser {
  width:100%;
  }
}
@media (max-width:864px) {
  .table.cameras-list col:nth-child(1),
  .table.cameras-list th:nth-child(1),
  .table.cameras-list td:nth-child(1) {
  display:none;
  }
  .table.recorders-list col:nth-child(1),
  .table.recorders-list th:nth-child(1),
  .table.recorders-list td:nth-child(1) {
  display:none;
  }
  .input-group[data-provide="datepicker-inline"] {
  display:table;
  }
  .rec-option-collapsible .input-group[data-provide="datepicker-inline"] .form-control[type=text] {
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  }
  .rec-option-collapsible .input-group[data-provide="datepicker-inline"] .form-control[type=text] + .input-group-addon {
  display:table-cell;
  }
  .rec-option-collapsible .fieldset {
  padding:10px;
  }
  .rec-option-collapsible .fieldset .grue {
  display:none;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .input-group[data-provide="datepicker-inline"] {
  display:block;
  }
  .rec-option-collapsible .input-group[data-provide="datepicker-inline"] .form-control[type=text] {
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  }
  .rec-option-collapsible .input-group[data-provide="datepicker-inline"] .form-control[type=text] + .input-group-addon {
  display:none;
  }
}
@media (max-width:991px) {
  .table.cameras-list col:nth-child(2),
  .table.cameras-list th:nth-child(2),
  .table.cameras-list td:nth-child(2) {
  display:none;
  }
  .table.recorders-list col:nth-child(2),
  .table.recorders-list th:nth-child(2),
  .table.recorders-list td:nth-child(2) {
  display:none;
  }
  .table.members-list col:nth-child(2),
  .table.members-list col:nth-child(2),
  .table.members-list th:nth-child(2),
  .table.members-list td:nth-child(2),
  .table.members-list th:nth-child(2),
  .table.members-list td:nth-child(2) {
  display:none;
  }
  .table.users-list col:nth-child(4),
  .table.users-list th:nth-child(4),
  .table.users-list td:nth-child(4) {
  display:none;
  }
  .table.aboxes-list col:nth-child(1),
  .table.aboxes-list th:nth-child(1),
  .table.aboxes-list td:nth-child(1) {
  display:none;
  }
  .table.wonder-list col:nth-child(1),
  .table.wonder-list th:nth-child(1),
  .table.wonder-list td:nth-child(1) {
  display:none;
  }
  .table.related-cams-list col:nth-child(1),
  .table.related-cams-list th:nth-child(1),
  .table.related-cams-list td:nth-child(1),
  .table.related-cams-list col:nth-child(3),
  .table.related-cams-list th:nth-child(3),
  .table.related-cams-list td:nth-child(3),
  .table.related-cams-list col:nth-child(5),
  .table.related-cams-list th:nth-child(5),
  .table.related-cams-list td:nth-child(5) {
  display:none;
  }
  .box-footer button {
  max-width:100%;
  }
  .fqdn {
  width:84.5%;
  }
  .hidden-at-wide {
  display:block;
  }
  section.content-header .breadcrumb {
  right:auto;
  }
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu,
  .navbar-nav > .user-menu > .dropdown-menu {
  right:0;
  }
}
@media (max-width:1052px) {
  .table.aboxes-list col:nth-child(5),
  .table.aboxes-list th:nth-child(5),
  .table.aboxes-list td:nth-child(5) {
  display:none;
  }
  .table.wonder-list col:nth-child(5),
  .table.wonder-list th:nth-child(5),
  .table.wonder-list td:nth-child(5) {
  display:none;
  }
  .table.cameras-list col:nth-child(7),
  .table.cameras-list th:nth-child(7),
  .table.cameras-list td:nth-child(7) {
  display:none;
  }
  .table.recorders-list col:nth-child(7),
  .table.recorders-list th:nth-child(7),
  .table.recorders-list td:nth-child(7) {
  display:none;
  }
}
@media (max-width:1140px) {
  .table.users-list col:nth-child(3),
  .table.users-list th:nth-child(3),
  .table.users-list td:nth-child(3) {
  display:none;
  }
  .table.members-list col:nth-child(3),
  .table.members-list th:nth-child(3),
  .table.members-list td:nth-child(3) {
  display:none;
  }
  .table.cameras-list col:nth-child(6),
  .table.cameras-list th:nth-child(6),
  .table.cameras-list td:nth-child(6) {
  display:none;
  }
  .table.recorders-list col:nth-child(6),
  .table.recorders-list th:nth-child(6),
  .table.recorders-list td:nth-child(6) {
  display:none;
  }
  .table.aboxes-list col:nth-child(2),
  .table.aboxes-list col:nth-child(8),
  .table.aboxes-list th:nth-child(2),
  .table.aboxes-list td:nth-child(2),
  .table.aboxes-list th:nth-child(8),
  .table.aboxes-list td:nth-child(8) {
  display:none;
  }
  .table.wonder-list col:nth-child(2),
  .table.wonder-list col:nth-child(8),
  .table.wonder-list th:nth-child(2),
  .table.wonder-list td:nth-child(2),
  .table.wonder-list th:nth-child(8),
  .table.wonder-list td:nth-child(8) {
  display:none;
  }
}
@media (max-width:1190px) {
  .table.users-list col:nth-child(5),
  .table.users-list th:nth-child(5),
  .table.users-list td:nth-child(5) {
  display:none;
  }
}
@media (max-width:1240px) {
  .table.aboxes-list col:nth-child(6),
  .table.aboxes-list col:nth-child(9),
  .table.aboxes-list th:nth-child(6),
  .table.aboxes-list td:nth-child(6),
  .table.aboxes-list th:nth-child(9),
  .table.aboxes-list td:nth-child(9) {
  display:none;
  }
  .table.wonder-list col:nth-child(6),
  .table.wonder-list col:nth-child(9),
  .table.wonder-list th:nth-child(6),
  .table.wonder-list td:nth-child(6),
  .table.wonder-list th:nth-child(9),
  .table.wonder-list td:nth-child(9) {
  display:none;
  }
  .table.users-list col:nth-child(7),
  .table.users-list col:nth-child(6),
  .table.users-list th:nth-child(7),
  .table.users-list td:nth-child(7),
  .table.users-list th:nth-child(6),
  .table.users-list td:nth-child(6) {
  display:none;
  }
}
