/*
 * Light
 * Light gray + Light Blue
 */
.camview-aside{
  background: #00a7d0;
  border-bottom: 1px solid #000;
}

.camview-root .btn.btn-white{
  color: #001a35;
}

#vjc-dur{
  color: #001a35;
}

.btn-white{
  background-color: #D3D3D3;
}

.btn-white:hover{
  border-color: #A0A0A0;
}

.btn-white:focus, .btn-white.focus{
  border-color: #A0A0A0;
}

.btn-white:active, .btn-white.active, .open > .dropdown-toggle.btn-white{
  border-color: #D3D3D3;
}

.bootstrap-select.btn-group .dropdown-menu li.selected{
  background: #00a7d0;
}

.bootstrap-select.btn-group .dropdown-menu li.selected a:focus, .bootstrap-select.btn-group .dropdown-menu li.selected a:hover{
  background: #00a7d0;
}

.btn-white:active:hover, .btn-white.active:hover, .open > .dropdown-toggle.btn-white:hover, .btn-white:active:focus, .btn-white.active:focus, .open > .dropdown-toggle.btn-white:focus, .btn-white:active.focus, .btn-white.active.focus, .open > .dropdown-toggle.btn-white.focus {
  color: #555;
  background-color: #D3D3D3;
  border-color: #535353;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline-color: #00a7d0;
}

.camview-footer .seeker.ui-corner-all .ui-slider-handle {
}

.content-wrapper, .right-side{
  background-color: #D3D3D3;
}

.camview-root.liveview .seal, .camview-root.splitview .seal{
  -webkit-filter: hue-rotate(215deg);
  filter: hue-rotate(210deg);
}